# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Api directories and files

api/tmp/*

api/.bundle
api/db/*.sqlite3
api/db/*.sqlite3-*
api/log/*
api/tmp/*
api/log/.keep
api/tmp/.keep
api/tmp/pids/*
api/tmp/pids/
api/tmp/pids/.keep
api/storage/*
api/storage/.keep
api/tmp/storage/*
api/tmp/storage/
api/tmp/storage/.keep
api/config/master.key
api/config/credentials.*
api/.byebug_history