.students-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.table-container {
    padding: 3rem;
    width: 100%;
}

.action-container {
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: end;
    gap:1rem;
}

.action-container > .filter-container {
  flex-grow: 0.3;
}